exclude = [".venv/", ".vscode/", "__pycache__/", "sandbox"]
line-length = 88
indent-width = 4
target-version = "py314"

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
docstring-code-format = true
docstring-code-line-length = "dynamic"