name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'
    
    - name: Install dependencies
      run: |
        sudo apt-get install libcairo2-dev python3-cairo-dev pkg-config python3-dev libgirepository1.0-dev
        python -m pip install --upgrade pip
        pip install pytest
        pip install inkex
    
    - name: Run tests
      run: |
        pytest tests/ -v
